@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item {
  @apply block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-white md:hover:bg-transparent md:border-0 md:hover:text-yellow-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent;
}

.nav-ul {
  @apply flex flex-col w-full p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-gray-100 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700;
}

.btn {
  @apply py-3 px-8 bg-zinc-600 transition hover:bg-zinc-900 text-gray-300 duration-500 shadow-md shadow-zinc-400 dark:text-gray-300 dark:hover:bg-zinc-700 rounded-tl-3xl rounded-br-3xl;
}
#home-mobile {
  background-image: url("../images/mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
